body { 
  background-image: url(../src/assets/autumn-trees.jpeg);
  background-repeat: no-repeat;
  
}

.navb { 
  display: flex;
  background-color: wheat;
  margin: 0%;
  font-size: 15px;
  padding-bottom: 30px;
  margin-bottom: 45px;
} 

.head { 
  padding-left: 50px;
  padding-bottom: 20px;
}

.navtext {
  padding-left: 0px;
  color: rgb(126, 72, 28);
  text-decoration: none;
  font-size: 75px;
}

.signup { 
  font-size: 15px;
  text-decoration: none;
  color: rgb(126, 72, 28); 
}

.login { 
  font-size: 15px;
  text-decoration: none;
  color: rgb(126, 72, 28);
}

.mx-1 { 
  padding-left: 30px;
  padding-right: 20px;
}

.mx-2 { 
  padding-left: 40px;
}